/* Page transitions */
.container-to-transition{
    animation: transitionIn 0.75s;
}
@keyframes transitionIn {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Topbar styles */

.topbar{
    height: 50px;
    background-color: rgb(206, 206, 206);
    box-shadow: 0px 5px 15px rgb(72, 72, 72);
    position: sticky;
    top: 0;

    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.topbarcenter{
    height: 50px;
    background-color: rgb(206, 206, 206);
    box-shadow: 0px 5px 15px rgb(72, 72, 72);
    position: sticky;
    top: 0;

    padding: 0 20px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.topleft{
    align-items: center;
    margin: 5%;
    display: flex;
    color: #333;
}

.topright{
    text-decoration: none;
    margin: 5%;
    display: flex;
    align-content: center;
    align-items: center;
}

.topcenter{
    align-items: center;
    margin: 5%;
    display: flex;
    color: #333;
}

.top-bar-links {
    text-decoration: none;
    margin: 10px;
    color: #333;
}

/* Homepage styles */

.home {
    text-decoration: none;
    align-items: center;
    align-content: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    margin: 5%;
    display: flex;
}

.home h1 {
    font-weight: 500;
}

.home h2 {
    font-weight: 300;
}

.home a {
    cursor: pointer;
    color: #333;
}

/* Email Changer styles */

.maintc{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

button{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

p.result{
    font-size: 14px;
    margin-top: 10px;
    white-space: pre-wrap;
}

/* Bottom bar styles */

.bottom-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    background-color: #f1f1f1;
}

.bottom-bar-links {
    display: flex;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
    gap: 15px;
}

.bottom-bar-links a {
    text-decoration: none;
    color: #333;
}

.bottom-bar-text {
    margin: 0;
    font-size: 100;
    font-family: 'Poppins', sans-serif;
    color: #666;
}

@media only screen and (max-width: 600px) {
    [class*="bottom-bar"] {
        font-size: 1.5vh;
        gap: 8px;
    }
  }

/* Item list styles */

.item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

.item {
    width: 200px;
    margin-bottom: 20px;
    text-align: center;
}

.image-container {
    position: relative;
    align-content: center;
}

.rounded-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.text-footer {
    width: 100%;
    color: rgb(52, 52, 52);
    padding-top: 10px;
}

.item-link {
    text-decoration: none;
    cursor: pointer;
}

/* About page styles */

.about {
    text-decoration: none;
    align-items: center;
    align-content: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
}

.about h1 {
    font-weight: 500;
    margin: 3%;
    color: #F890A5;
}

.about h2 {
    font-weight: 400;
    margin: 3%;
}

.about p {
    font-weight: 300;
    margin: 3%;
}

.about a {
    cursor: pointer;
    color: #333;
}

.about img {
    width: 20%;
    margin: 3%;
}